.footer {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
.footer>* {
    flex: 1 1 0;
}

.boxFooter {
    border: 1px solid var(--primary-dark);
    padding: 10px;
    border-radius: 2px;
    text-align: center;
}
.boxLabel {
    font-size: x-small;
    text-align: center;
    margin-top: 10px;
    color: var(--primary-dark);
  }